# Lib
numpy==1.23.0
torch==1.8.1
torchvision==0.9.1
faiss-gpu==1.6.5
pillow==9.2.0
pandas==1.4.3
tqdm==4.64.0
tensorboard==2.9.1
matplotlib
pytorch-metric-learning==1.5.0
hydra-core==1.1
hydra_colorlog==1.1.0

# Utils
ipython
jupyter
SciencePlots

# Dev
ipdb
autopep8
flake8
pylint
isort
